div#WMEPH_Change_Log ul {
    list-style: none;
    padding-left: 1em;
}

.collapsed {
    padding-left: 10px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABPSURBVBhXY9i1e89EbAAozgCk/mADQHEUOU2nIigLLvfr928IAsrB2Qg57+TlyAgh9/btGwgC6oOzoXKPYQAoB2U9fowuhwxAcjj9t3sPAI9Zs5M8FTttAAAAAElFTkSuQmCC);
}

.expanded {
    padding-left: 10px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA2SURBVBhXY9i1e89EbAAozgCkfv3+jYmA4pTIvX37xjt5OTICiiDkMBFU7jE2QEgOp/927wEAMTm65rwck5gAAAAASUVORK5CYII=);
}
